<div class="container painel">
  <div class="painel-topo">
    <h2>Cadastro de Veículo</h2>
  </div>  
  <form novalidate (ngSubmit)="salvarVeiculo()" [formGroup]="cadastroVeiculoForm" class="formulario">
    <div class="form-horizontal painel-corpo">

      <div class="form-group">
        <label class="col-md-3 col-sm-5 control-label">CPF</label>
        <div class="col-md-10">
            <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}" [ngClass]="{ 'is-invalid': displayMessage.cpf }" />
            <span class="text-danger" *ngIf="displayMessage.cpf">
            <p [innerHTML]="displayMessage.cpf"></p>
        </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 col-sm-5 control-label" for="placa">Placa</label>
        <div class="col-md-10">
          <input class="form-control" id="placa" type="text" placeholder="Placa (requerido)" formControlName="placa" 
          [ngClass]="{'is-invalid': displayMessage.placa}"/>
          <span class="text-danger" *ngIf="displayMessage.placa">
            <p [innerHTML]="displayMessage.placa"></p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 col-sm-5 control-label" for="modelo">Modelo</label>
        <div class="col-md-10">
          <input class="form-control" id="modelo" type="text" placeholder="Modelo (requerido)" formControlName="modelo" 
          [ngClass]="{'is-invalid': displayMessage.modelo}"/>
          <span class="text-danger" *ngIf="displayMessage.modelo">
            <p [innerHTML]="displayMessage.modelo"></p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 col-sm-5 control-label" for="marca">Marca</label>
        <div class="col-md-10">
          <input class="form-control" id="marca" type="text" placeholder="Marca (requerido)" formControlName="marca" 
          [ngClass]="{'is-invalid': displayMessage.marca}"/>
          <span class="text-danger" *ngIf="displayMessage.marca">
            <p [innerHTML]="displayMessage.marca"></p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 col-sm-5 control-label" for="cor">Cor</label>
        <div class="col-md-10">
          <input class="form-control" id="cor" type="text" placeholder="Cor (requerido)" formControlName="cor" 
          [ngClass]="{'is-invalid': displayMessage.cor}"/>
          <span class="text-danger" *ngIf="displayMessage.cor">
            <p [innerHTML]="displayMessage.cor"></p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 col-sm-5 control-label" for="anoFabricacao">Ano de Fabricação</label>
        <div class="col-md-10">
          <input class="form-control" id="anoFabricacao" type="text" placeholder="Ano de Fabricação (requerido)" formControlName="anoFabricacao" 
          [ngClass]="{'is-invalid': displayMessage.anoFabricacao}"/>
          <span class="text-danger" *ngIf="displayMessage.anoFabricacao">
            <p [innerHTML]="displayMessage.anoFabricacao"></p>
          </span>
        </div>
      </div>

      <div class="form-group botoes">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary" id="Registrar" [disabled]="!cadastroVeiculoForm.valid" 
            [ngClass]="{'cursorSemBloqueio' : cadastroVeiculoForm.valid, 'cursorBloqueado' : !cadastroVeiculoForm.valid}"type="submit">Salvar Alterações</button>
            <button class="btn btn-danger botao-voltar" (click)="voltarDashboard()">Voltar</button>
          </span>
        </div>
      </div>

    </div>
  </form>
</div>